/* ../../blocks/card/__logo/card__logo.styl:begin */
.card__logo {
  position: absolute;
  left: 27px;
  border: 0;
}
.card__logo span {
  position: absolute;
  left: -9999px;
}
.card__side_lang_ru .card__logo {
  width: 98px;
  height: 42px;
  top: 127px;
  background-image: url("../../blocks/card/__logo/card__logo_lang_ru.svg");
  background-size: 98px 42px;
}
.card__side_lang_en .card__logo {
  width: 102px;
  height: 42px;
  top: 127px;
  background-image: url("../../blocks/card/__logo/card__logo_lang_en.svg");
  background-size: 102px 42px;
}
/* ../../blocks/card/__logo/card__logo.styl:end */
